{% extends "base.html" %}

{% block title%}
Miaooo的个人网站
{% endblock %}

{% block head%}
{% endblock %}

{% block body%}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-10">
            <div class="bd-example">
                <h3 style="text-align:center;">网站简介</h3>
                <div style="margin-left:40px;margin-top:40px;">
                    <p> Miaooo的个人网站</p>
                    <p>打算放一些电子书</p>
                    <p>还有博客</p>
                    <p>把训练好的神经网络放上来</p>
                    <p>跑点在线计算服务之类的<p>
                </div>
            </div>
            <div class="bd-example">
                <p>图书预留</p>
            </div>
            <div class="bd-example">
                <p>博客预留</p>
            </div>
        </div>
        <div class="col"></div>
    </div>
  </div>
{% endblock %}